@charset "utf-8";

.signup__form {
    padding: 25px;
    margin: 50px 0px;
}

.signup__button {
    margin: 10px 0px;
}

.signup__message--success {
    color: green;
    font-weight: bold;
    font-size: 2em;
}

.signup__message--error {
    color: red;
}